docx
wtforms
werkzeug
docxtpl
cvsslib
Flask-WTF
Flask-Limiter
jinja2
flask
uuid
python-magic
mistletoe
aenum
rfc3986
Pillow
flask-assets
PyYAML
jsmin
cssmin
flask-login
terminaltables
pyotp
flask-sqlalchemy
Flask-Migrate