{% extends "findings/base.html" %}

{% from "macros.html" import render_form %}
{% block body %}

    <div class="row mt-3 pl-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-9">
                    <h2>Translations</h2>
                </div>

                <div class="col-3">
                    <a href="{{ url_for('.add_translation', finding_id=finding.id, next=request.path) }}"
                       class="btn btn-primary btn-success float-right">
                        <span class="fa fa-plus"></span> Add
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {% if finding.langs %}

                        <table id="table_data" class="table table-striped">
                            <thead class="thead-dark">
                            <th>Title</th>
                            <th>Language</th>
                            <th style="width: 20%" class="text-right">Action</th>
                            </thead>
                            <tbody>
                            {% for translation in finding.translations %}
                                <tr>
                                    <td>{{ translation.title }}</td>
                                    <td>{{ translation.lang }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="need-confirm btn btn-danger"
                                               href="{{ url_for('.delete_translation', finding_id=finding.id, language=translation.lang, next=request.path) }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                            <a class="btn btn-secondary"
                                               href="{{ url_for('.edit_translation', finding_id=finding.id, language=translation.lang, next=request.path) }}">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="text-center">No Translations!</h4>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-9">
                    <h2>Solutions</h2>
                </div>
                <div class="col-3">
                    <a href="{{ url_for('.add_solution', finding_id=finding.id, next=request.path) }}"
                       class="btn btn-primary btn-success float-right">
                        <span class="fa fa-plus"></span> Add
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">

                    {% if finding.solutions %}
                        <table id="table_data" class="table table-striped">
                            <thead class="thead-dark">
                            <th>Name</th>
                            <th>Language</th>
                            <th style="width: 20%" class="text-right">Action</th>
                            </thead>
                            <tbody>
                            {% for solution in finding.solutions %}
                                <tr>
                                    <td>{{ solution.name }}</td>
                                    <td>{{ solution.lang }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="need-confirm btn btn-danger"
                                               href="{{ url_for('.delete_solution', finding_id=finding.id, solution_name=solution.name, next=request.path) }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                            <a class="btn btn-secondary"
                                               href="{{ url_for('.edit_solution', finding_id=finding.id, solution_name=solution.name, next=request.path) }}">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                            <a class="btn btn-primary"
                                               href="{{ url_for('.add_solution', finding_id=finding.id, solution_name=solution.name, next=request.path) }}">
                                                <span class="fa fa-copy"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="text-center">No Solutions!</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 pl-lg-5 pr-lg-5">
            <h2>Edit Finding</h2>
            {{ render_form(form) }}
        </div>
    </div>


{% endblock %}