{% extends "findings/base.html" %}

{% from "macros.html" import render_score_pill, render_pill %}
{% block body %}
    <div class="row mt-3">
        <div class="col-lg-12">
            {% if findings %}
                <table id="table_search" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Search</th>
                        <th colspan="6">
                            <input style="width:100%" type="text" id="searchinput" onkeyup="refresh_search()"
                                   placeholder="Search for ...">
                        </th>
                    </tr>
                    </thead>
                </table>
                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Languages</th>
                    <th>Technical Risk</th>
                    <th># Solutions</th>
                    <th>Creator</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr>
                            <td>
                                <a title="Edit Finding"
                                   href="{{ url_for('.edit', finding_id=finding.id, next=request.path) }}">
                                    {{ finding.name }}
                                </a>
                            </td>
                            <td>{{ finding.type }}</td>
                            <td>{% for lang in finding.langs %}{{ render_pill(lang, 'secondary') }}{% endfor %}</td>
                            <td>{{ render_score_pill(finding.tech_risk) }}</td>
                            <td>{{ finding.solutions|length }}</td>
                            <td>{{ finding.creator.name }}</td>
                            <td>
                                <div class="btn-group float-right">
                                    <a class="need-confirm btn btn-danger" title="Delete Finding"
                                       href="{{ url_for('.delete', finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                    <a class="btn btn-secondary" title="Edit Finding"
                                       href="{{ url_for('.edit', finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a class="btn btn-success" title="Add Translation to Finding"
                                       href="{{ url_for('.add_translation', finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-globe"></span>
                                    </a>

                                    <a class="btn btn-info" title="Add Solution to Finding"
                                       href="{{ url_for('.add_solution', finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-flag"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No findings on global database</h4>
                <h5 class="text-center"><a href="{{ url_for('findings.new', next=request.path) }}">Do your work and add
                    some findings!</a>
                </h5>
            {% endif %}
        </div>
    </div>

    <script>
        function refresh_search() {

            function parse_tds(tds) {
                return {
                    id: tds[0].firstElementChild.innerText,
                    url: tds[0].firstElementChild.href,
                    type: tds[1].textContent,
                    risk: tds[3].firstElementChild.innerText,
                    creator: tds[5].textContent
                }
            }

            function search(tds, re) {
                if (
                    re.test(tds.id) ||
                    re.test(tds.type) ||
                    re.test(tds.creator) ||
                    re.test(tds.risk)
                ) return true;
                return false;
            }

            let i = new RegExp(document.getElementById("searchinput").value, 'i');
            let table = document.getElementById("table_data");
            let tr = table.getElementsByTagName("tr");

            let d = null;
            for (let j = 0; j < tr.length; j++) {
                if (j > 0) {
                    let r = search(parse_tds(tr[j].getElementsByTagName("td")), i);

                    tr[j].style.display = r ? "" : "none"
                }
            }
        }
    </script>

{% endblock %}