{% extends "base.html" %}
{% from "macros.html" import render_pill, render_assessment_status_pill %}
{% block body %}
    <div class="row mt-3">
        <div class="col-lg-12">
            {% if assessments %}
                <table id="table_search" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Search</th>
                        <th colspan="6">
                            <input style="width:100%" type="text" id="searchinput" onkeyup="refresh_search()"
                                   placeholder="Search for...">
                        </th>
                    </tr>
                    </thead>
                </table>

                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Application</th>
                    <th>Bug Tracking</th>
                    <th>Risk Profile</th>
                    <th>SAST</th>
                    <th>SCA</th>
                    <th>Status</th>
                    <th>Creator</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for assessment in assessments | sort(attribute='name') %}
                        <tr>
                            <td>
                                <a href="{{ url_for('.summary', assessment_id=assessment.id, next=request.path) }}">
                                    {{ assessment.name }}
                                </a>
                            </td>
                            <td>{{ assessment.application }}</td>
                            <td>{{ assessment.bugtracking }}</td>
                            <td>{{ assessment.riskprof_category }} ({{ assessment.riskprof_score }})</td>
                            <td>{{ assessment.sast }}</td>
                            <td>{{ assessment.sca }}</td>
                            <td>{{ render_assessment_status_pill(assessment.status) }}</td>
                            <td>{{ assessment.creator.name }}</td>
                            <td>
                                <div class="btn-group float-right">
                                    {% if current_user.manages(assessment) %}
                                        <a class="need-confirm btn btn-danger" title="Delete Assessment"
                                           href="{{ url_for('.delete', assessment_id=assessment.id, next=request.path) }}">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                        <a class="btn btn-secondary" title="Edit Assessment"
                                           href="{{ url_for('.edit', assessment_id=assessment.id, next=request.path) }}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-info" title="Assessment Panel"
                                       href="{{ url_for('.summary', assessment_id=assessment.id, next=request.path) }}">
                                        <span class="fa fa-tachometer"></span>
                                    </a>
                                    <a class="btn btn-success" title="Add findings to assessment"
                                       href="{{ url_for('.add_findings', assessment_id=assessment.id, next=request.path) }}">
                                        <span class="fa fa-plus"></span>
                                    </a>
                                    <a class="btn btn-dark" title="Export Assessment JSON"
                                       href="{{ url_for('.export', assessment_id=assessment.id, next=request.path) }}">
                                        <span class="fa fa-download"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3 style="padding: 50px;" class="text-center">You have no assigned assessments</h3>
                <img style="max-height: 400px; opacity: 0.8;" src="/static/img/never_say_not_to_coffee.svg">
            {% endif %}
        </div>
    </div>

    <script>
        function refresh_search() {
            function parse_tds(tds) {
                return {
                    name: tds[0].firstElementChild.innerText,
                    application: tds[1].textContent,
                    bugtracking: tds[2].textContent,
                    riskprof: tds[3].textContent,
                    creator_name: tds[7].textContent
                };
            }

            function search(tds, re) {
                return re.test(tds.name) || re.test(tds.application) || re.test(tds.bugtracking) || re.test(tds.creator_name) || re.test(tds.riskprof);
            }

            let trs = document.getElementById("table_data").getElementsByTagName("tr");

            if (trs.length > 2) {
                let input = new RegExp(document.getElementById("searchinput").value, 'i');

                for (let i = 1; i < trs.length; i++) {
                    trs[i].style.display = search(parse_tds(trs[i].getElementsByTagName("td")), input) ? "" : "none";
                }
            }
        }
    </script>
{% endblock %}