{% extends "base.html" %}
{% block body %}
    <div class="container" role="main">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="page-header">
                <h2>Assessments</h2>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            {% if assessments %}
                <table id="table_data" class="table table-striped table-hover">
                    <thead>
                    <th>Client</th>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Type</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for assessment in assessments %}
                        <tr>
                            <td>{{ assessment.client.short_name }}</td>
                            <td>{{ assessment.name }}</td>
                            <td>{{ assessment.platform }}</td>
                            <td>{{ assessment.type }}</td>
                            <td>{{ assessment.lang }}</td>
                            <td>{{ assessment.status }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="need-confirm btn btn-danger" title="Delete Assessment"
                                       href="{{ url_for('.delete', assessment_id=assessment.id) }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <a class="btn btn-default" title="Edit Assessment"
                                       href="{{ url_for('.edit', assessment_id=assessment.id) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a class="btn btn-info" title="Assessment Panel"
                                       href="{{ url_for('.summary', assessment_id=assessment.id) }}">
                                        <span class="glyphicon glyphicon-dashboard"></span>
                                    </a>
                                    <a class="btn btn-success" title="Add findings to assessment"
                                       href="{{ url_for('.add_findings', assessment_id=assessment.id) }}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3 style="padding: 50px;" class="text-center">You have no assigned assessments</h3>
                <img style="max-height: 400px; opacity: 0.8;" src="/static/img/never_say_not_to_coffee.svg">
            {% endif %}
        </div>
    </div>
{% endblock %}