{% extends "base.html" %}
{% block body %}

    <div class="container" role="main">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="page-header">
                <h2>Assessments</h2>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            {% if assessments %}
                <table class="table table-striped table-hover">
                    <thead>
                    <th class="hidden">id</th>
                    <th>Client</th>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Type</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th style="width: 12%">Action</th>
                    </thead>
                    <tbody>
                    {% for assessment in assessments %}
                        <tr>
                            <td class="hidden">{{ assessment.id }}</td>
                            <td>{{ assessment.client.short_name }}</td>
                            <td>{{ assessment.name }}</td>
                            <td>{{ assessment.platform }}</td>
                            <td>{{ assessment.type }}</td>
                            <td>{{ assessment.lang }}</td>
                            <td>{{ assessment.status }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="need-confirm btn btn-danger" href="{{ url_for('.delete', assessment_id=assessment.id) }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <a class="btn btn-default" href="{{ url_for('.edit', assessment_id=assessment.id) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No assessments!</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}