.navbar-text {
    margin: 0;
    padding: 0;
}

.show.dropdown-menu {
    min-width: 9rem;
}

.md-preview img {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.md-editor ~ .invalid-feedback {
    display: block;
}

.hidden {
    display: none !important;
}

.badge-critical {
    background-color: #222;
    color: white;
}

.modal-dialog.modal-xxl {
    max-width: 95% !important;
}

.modal {
    z-index: 199999 !important;
}

.image-card {
    word-wrap: break-word;
}

/*Custom custom_checkbox*/
/* The container */
.custom_checkbox {
    display: block;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 20px;
    margin: 0px;
}

/* Hide the browser's default custom_checkbox */
.custom_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom custom_checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #838383;
}

/* On mouse-over, add a grey background color */
.custom_checkbox:hover input ~ .checkmark {
    background-color: #525252;
}

/* When the custom_checkbox is checked, add a blue background */
.custom_checkbox input:checked ~ .checkmark {
    background-color: #607d8b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom_checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#table_data td {
    vertical-align: middle;
}

.dropdown-buttons.dropdown-menu {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-width: 120px;
}

.dropdown-buttons .btn {
    border-radius: 0px;
}

.btn-purple {
    color: #fff;
    background-color: #673AB7;
    border-color: #6036ab;
}

.btn-purple:hover {
    color: #fff;
    background-color: #482882;
    border-color: #452879;
}

.btn-cyan {
    color: #fff;
    background-color: #67b7b7;
    border-color: #16a2ab;
}

.btn-cyan:hover {
    color: #fff;
    background-color: #319795;
    border-color: #138e97;
}

.squared.btn-group-vertical > .btn {
    border-radius: 0px;
}

/*Sidebar*/
#page-content {
    width: calc(100% - 57px);
    height: calc(100% - 56px);
    position: absolute;
    left: 57px;
    top: 56px;
}

#sidebar {
    z-index: -1;
    position: fixed;
    width: 56.5px;
    padding-top: 56px;
    height: 100%;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar .btn-group-vertical {
    width: 100%;
}

#topbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    min-height: 56px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0px;
    margin: 0px;
}
