<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>SARNA</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo-red.png') }}?v=5">
    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link href="{{ url_for('static', filename='css/cvss.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/cvss.js') }}"></script>

    {% block scripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("textarea").not(".noMD").markdown({
                    autofocus: false,
                    savable: false,
                    iconlibrary: 'fa',
                    hiddenButtons: ['cmdImage', 'cmdQuote', 'cmdHeading'],
                    disabledButtons: ['cmdImage', 'cmdQuote', 'cmdHeading']
                });
            });
        </script>
    {% endblock %}
</head>
<body>

<div id="dialog-confirm" title="Action confirmation" style="display: none">
    <h4>Are you sure? <span class="label label-warning"> Warning</span></h4>
</div>

<div class="sidebar-nav bg-dark" id="sidebar">
    {% block left_actions %}
    {% endblock %}
</div>

<div class="container-fluid" id="topbar">
    {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding-left: 13px;">

            <a href="/" class="navbar-brand">
                <img src="{{ url_for('static', filename='logo-full-light.png') }}"
                     height="30" class="d-inline-block align-top" alt="Sarna Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="mr-auto navbar-nav">
                    {% block navitems %}
                        {% if can_view('index.index') %}
                            <li class="{{ 'active' if is_endpoint('index') }}">
                                <a class="nav-link" href={{ url_for('index.index') }}>Home</a>
                            </li>
                        {% endif %}
                        {% if can_view('clients.index') %}
                            <li class="{{ 'active' if is_endpoint('clients') }}">
                                <a class="nav-link" href="{{ url_for('clients.index') }}">Clients</a>
                            </li>
                        {% endif %}
                        {% if can_view('assessments.index') %}
                            <li class="{{ 'active' if is_endpoint('assessments') }}">
                                <a class="nav-link" href="{{ url_for('assessments.index') }}">Assessments</a>
                            </li>
                        {% endif %}
                        {% if can_view('findings.index') %}
                            <li class="{{ 'active' if is_endpoint('findings') }}">
                                <a class="nav-link" href="{{ url_for('findings.index') }}">Findings Database</a>
                            </li>
                        {% endif %}
                        {% if can_view('users.index') %}
                            <li class="{{ 'active' if is_endpoint('users') }}">
                                <a class="nav-link" href="{{ url_for('users.index') }}">Users</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
                {% if current_user.is_authenticated %}
                    <p class="navbar-text navbar-right">
                        Signed in as {{ current_user.username }}
                        <a href="{{ url_for('index.logout') }}">Log out</a>
                    </p>
                {% endif %}
            </div>
        </nav>
    {% endblock %}
</div>

<div class="container-fluid" id="page-content">
    <div class="row">
        <div class="col-sm">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <script>
                        $(document).ready(function () {
                            {% for category, message in messages %}
                                $.notify(
                                    {
                                        message: "{{ message }}"
                                    }, {
                                        allow_dismiss: true,
                                        type: "{{ category }}",
                                        timer: 1000,
                                        delay: 5000
                                    }
                                );
                            {% endfor %}
                        });
                    </script>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block body %}{% endblock %}
</div>
</body>
</html>