{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_pill %}
{% block content %}
    <div class="row">
        <div class="col">
            {% if findings %}
                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Languages</th>
                    <th>Technical Risk</th>
                    <th># Solutions</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr>
                            <td>{{ finding.name }}</td>
                            <td>{{ finding.type }}</td>
                            <td>
                                {% for lang in finding.langs %}
                                    <span class="badge badge-pill badge-primary">{{ lang }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ render_score_pill(finding.tech_risk) }}</td>
                            <td>{{ finding.solutions|length }}</td>
                            <td>
                                <form action="{{ url_for('.add_finding', assessment_id=assessment.id, finding_id=finding.id, next=request.path) }}"
                                      method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="btn-group float-right">
                                        <button type="submit" class="btn btn-success" name="action" value="add">
                                            <span class="fa fa-plus"></span>
                                        </button>

                                        <button type="submit" class="btn btn-info" name="action" value="edit_add">
                                            <span class="fa fa-pencil"></span>
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </div>

                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No findings on global database</h4>
                <h5 class="text-center">
                    <a href="{{ url_for('findings.new', next=request.path) }}">Do your work and add some findings!</a>
                </h5>

            {% endif %}
        </div>
    </div>
{% endblock %}