{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_pill %}
{% block content %}
    <div class="row">
        <div class="col">
            {% if findings %}
                <table id="table_search" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Search</th>
                        <th colspan="6">
                            <input style="width:100%" type="text" id="searchinput" onkeyup="refresh_search()"
                                   placeholder="Search for ...">
                        </th>
                    </tr>
                    </thead>
                </table>
                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Languages</th>
                    <th>Technical Risk</th>
                    <th># Solutions</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr>
                            <td>{{ finding.name }}</td>
                            <td>{{ finding.type }}</td>
                            <td>
                                {% for lang in finding.langs %}
                                    <span class="badge badge-pill badge-primary">{{ lang }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ render_score_pill(finding.tech_risk) }}</td>
                            <td>{{ finding.solutions|length }}</td>
                            <td>
                                <form action="{{ url_for('.add_finding', assessment_id=assessment.id, finding_id=finding.id, next=request.path) }}"
                                      method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="btn-group float-right">
                                        <button type="submit" class="btn btn-success" name="action" value="add">
                                            <span class="fa fa-plus"></span>
                                        </button>

                                        <button type="submit" class="btn btn-info" name="action" value="edit_add">
                                            <span class="fa fa-pencil"></span>
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </div>

                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No findings on global database</h4>
                <h5 class="text-center">
                    <a href="{{ url_for('findings.new', next=request.path) }}">Do your work and add some findings!</a>
                </h5>

            {% endif %}
        </div>
    </div>
    <script>
        function refresh_search() {

            function parse_tds(tds) {
                return {
                    id: tds[0].textContent,
                    type: tds[1].textContent,
                    risk: tds[3].firstElementChild.innerText
                }
            }

            function search(tds, re) {
                if (
                    re.test(tds.id) ||
                    re.test(tds.type) ||
                    re.test(tds.risk)
                ) return true;
                return false;
            }

            let i = new RegExp(document.getElementById("searchinput").value, 'i');
            let table = document.getElementById("table_data");
            let tr = table.getElementsByTagName("tr");

            let d = null;
            for (let j = 0; j < tr.length; j++) {
                if (j > 0) {
                    let r = search(parse_tds(tr[j].getElementsByTagName("td")), i);

                    tr[j].style.display = r ? "" : "none"
                }
            }
        }
    </script>
{% endblock %}