{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_label %}
{% block content %}
    <div class="row">
        <div class="col">
            {% if findings %}
                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Languages</th>
                    <th>Technical Risk</th>
                    <th># Solutions</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr>
                            <td>{{ finding.name }}</td>
                            <td>{{ finding.type }}</td>
                            <td>
                                {% for lang in finding.langs %}
                                    <span class="badge badge-pill badge-primary">{{ lang }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ render_score_label(finding.tech_risk) }}</td>
                            <td>{{ finding.solutions.count() }}</td>
                            <td>
                                <div class="btn-group float-right">
                                    <a class="btn btn-success"
                                       href="{{ url_for('.add_finding', assessment_id=assessment.id, finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-plus"></span>
                                    </a>

                                    <a class="btn btn-info"
                                       href="{{ url_for('.edit_add_finding', assessment_id=assessment.id, finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-pencil"></span>
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No findings on global database</h4>
                <h5 class="text-center"><a href="{{ url_for('findings.new', next=request.path) }}">Do your work and add some
                    findings!</a></h5>

            {% endif %}
        </div>
    </div>
{% endblock %}