{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_pill %}

{% block content %}
    <div class="row mt-3 pl-3">

        <div class="col mr-3">
            {{ render_form(form) }}
        </div>

        <div class="col mr-3">
            <h5>CVSS Calculator</h5>

            <div class="row mx-4 mt-2">
                <div id="cvssboard"></div>
            </div>

            <h5 class="mt-4">Solution Selector</h5>
            <div class="form-row">
                <div class="col">
                    <select id="solution_select" class="form-control col-auto">
                        <option value=""></option>
                        {% for solution in solutions %}
                            <option value="{{ solution.name }}">{{ solution.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-block" id="solution_apply" href="#">Apply</a>
                </div>
                <div class="col-1">
                    <a class="btn btn-success btn-block" target="_blank"
                       href="{{ url_for('findings.add_solution', finding_id=finding.template.id) }}">
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>

            <div class="row px-4 pt-2 mt-3 mx-1 ">
                <div style="border-radius: 0.5em"
                     class="col border border-secondary bg-light"
                     id="solution_select_desc">
                </div>
            </div>

            <script>
                $(document).ready(function () {

                    var cvss = new CVSS("cvssboard", {
                        onchange: function () {
                            var vector = cvss.get()['vector'];
                            $('#cvss_v3_vector').val(vector);
                        }
                    });
                    var solutions = {{ solutions_dict|tojson }};
                    var selected_text = "";
                    var solution_preview = $("div#solution_select_desc");
                    solution_preview.hide();

                    cvss.set($('#cvss_v3_vector').val());

                    $("#solution_select").change(function () {
                        var val = $(this).val()
                        selected_text = "";
                        if (val) {
                            selected_text = solutions[val];
                            solution_preview.show()
                        } else {
                            solution_preview.hide();
                        }
                        solution_preview.html(marked(selected_text));
                    });
                    $('.btn#solution_apply').click(function (ev) {
                        $('#solution').val(selected_text)
                        ev.preventDefault();
                    });

                    var actives = [{% for active in assessment.actives %}{% for uri in active.uris %}{{ uri | tojson }}, {% endfor %}{% endfor %}];
                    horsey(document.querySelector('#affected_resources'), {
                        source: [{list: actives}],
                        blankSearch: false,
                        anchor: ':'
                    });

                });
            </script>
        </div>
    </div>
{% endblock %}