{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_label %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" media="all" href="http://cvssjs.github.io/cvss.css">
    <script src="http://cvssjs.github.io/cvss.js"></script>
{% endblock %}

{% block content %}
    <div class="row mt-3 pl-3">

        <div class="col mr-3">
            {{ render_form(form) }}
        </div>

        <div class="col mr-3">
            <h5>CVSS Calculator</h5>

            <div class="row mx-4 mt-2">
                <div id="cvssboard"></div>
            </div>

            <h5 class="mt-4">Solution Selector</h5>
            <div class="form-row">
                <div class="col">
                    <select id="solution_select" class="form-control col-auto">
                        <option value=""></option>
                        {% for solution in solutions %}
                            <option value="{{ solution.name }}">{{ solution.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-block" id="solution_apply" href="#">Apply</a>
                </div>
                <div class="col-1">
                    <a class="btn btn-success btn-block" id="solution_apply" target="_blank"
                       href="{{ url_for('findings.add_solution', finding_id=finding.template.id) }}">
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>

            <div class="row px-4 pt-2 mt-3 mx-1 ">
                <div style="border-radius: 0.5em"
                     class="col border border-secondary bg-light"
                     id="solution_select_desc">
                </div>
            </div>

            {% if assessment.images %}
                <h5 class="mt-4">Images</h5>
                <div class="row mt-3">
                    {% for image in assessment.images %}
                        <div class="col-md-4 border-secondary border">
                            <strong>{{ image.name }}</strong>
                            <a target="_blank"
                               href="{{ url_for('.get_evidence', assessment_id=assessment.id, evidence_name=image.name) }}">
                                <img style="width: 100%"
                                     src="{{ url_for('.get_evidence', assessment_id=assessment.id, evidence_name=image.name) }}"/>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <script>
                $(function () {

                    var cvss = new CVSS("cvssboard", {
                        onchange: function () {
                            var vector = cvss.get()['vector'];
                            $('#cvss_v3_vector').val(vector);
                        }
                    });
                    var solutions = {{ solutions_dict|tojson }};
                    var selected_text = "";
                    var solution_preview = $("div#solution_select_desc");
                    solution_preview.hide();

                    cvss.set($('#cvss_v3_vector').val());

                    $("#solution_select").change(function () {
                        var val = $(this).val()
                        selected_text = "";
                        if (val) {
                            selected_text = solutions[val];
                            solution_preview.show()
                        } else {
                            solution_preview.hide();
                        }
                        solution_preview.html(markdown.toHTML(selected_text));
                    });
                    $('.btn#solution_apply').click(function (ev) {
                        $('#solution').val(selected_text)
                        ev.preventDefault();
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}