{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_label %}

{% block body %}
    <form action="{{ url_for('.bulk_action_finding', assessment_id=assessment.id) }}" method="post">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        {{ super() }}
    </form>
{% endblock %}
{% block action_buttons %}
    {% if findings %}
        <div class="btn-group float-right" role="group">
            <button type="submit" class="btn btn-danger need-confirm" value="delete" name="action">
                <span class="fa fa-trash"></span>
            </button>
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle" type="button" id="status_dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Set Status
                </button>
                <div class="dropdown-menu" aria-labelledby="status_dropdown">
                    <button class="dropdown-item bg-warning" type="submit" name="action"
                            value="status_pending"> Pending
                    </button>
                    <button class="dropdown-item bg-primary" type="submit" name="action"
                            value="status_reviewed"> Reviewed
                    </button>
                    <button class="dropdown-item bg-success" type="submit" name="action"
                            value="status_confirmed"> Confirmed
                    </button>
                    <button class="dropdown-item bg-danger" type="submit" name="action"
                            value="status_false_positive">False Positive
                    </button>
                    <button class="dropdown-item bg-secondary" type="submit" name="action"
                            value="status_other">Other
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            {% if findings %}

                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>
                        <label class="custom_checkbox">
                            <input type="checkbox" id="all_checked" name="finding:all">
                            <span class="checkmark"></span>
                        </label>
                    </th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Technical Risk</th>
                    <th>Business Risk</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr>
                            <td>
                                <label class="custom_checkbox">
                                    <input name="finding:{{ finding.id }}" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>{{ finding.title }}</td>
                            <td>{{ finding.type }}</td>
                            <td>{{ render_score_label(finding.tech_risk) }}</td>
                            <td>{{ render_score_label(finding.business_risk) }}</td>
                            <td>{{ finding.status }}</td>
                            <td>
                                <div class="btn-group float-right">
                                    <a class="btn btn-danger need-confirm"
                                       href="{{ url_for('.delete_findings', assessment_id=assessment.id, finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-trash"></span>
                                    </a>

                                    <a class="btn btn-secondary"
                                       href="{{ url_for('.edit_finding', assessment_id=assessment.id, finding_id=finding.id, next=request.path) }}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No findings in this assessment</h4>
                <h5 class="text-center">
                    <a href="{{ url_for('.add_findings', assessment_id=assessment.id, next=request.path) }}">
                        You can add some findings here!
                    </a>
                </h5>
            {% endif %}
        </div>
    </div>
{% endblock %}