{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_label %}


{% block content %}
    <div class="row">
        <div class="col">
            {% if actives %}

                <table id="table_data" class="table">
                    <thead class="thead-dark">
                    <th>Active</th>
                    <th>Resources</th>
                    <th>#</th>
                    </thead>
                    <tbody>
                    {% for active in actives %}
                        <tr>
                            <td rowspan="{{ active.affected_resources.count() }}">{{ active.name }}</td>

                            {% for resource in active.affected_resources %}
                                <td>{{ resource.route or '' }}</td>
                                <td><a>{{ resource.findings.count() }}</a></td>
                                </tr>
                            {% else %}
                                <td></td>
                                <td></td>
                                <td></td>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center mt-5">No actives in this assessment</h4>

            {% endif %}
        </div>
        <div class="col">
            <h3>Add Active</h3>
            {{ render_form(form) }}
            <script>
                var actives = [{% for active in actives %}{{ active.name | tojson }}, {% endfor %}];
                $(document).ready(function () {
                    horsey(document.querySelector('#name'), {
                        source: [{list: actives}]
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}