{% extends "assessments/panel/panel_base.html" %}

{% set actions_show = True %}
{% block body %}
    <form action="{{ url_for('.bulk_action_finding', assessment_id=assessment.id) }}" method="post">
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        {{ super() }}
    </form>
{% endblock %}
{% block action_buttons %}
    {% if assessment.findings and not current_user.is_readonly and actions_show %}
        <div class="btn-group float-right" role="group">
            <button type="submit" class="btn btn-danger need-confirm" value="delete" name="action">
                <span class="fa fa-trash"></span>
            </button>
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle" type="button" id="status_dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Set Status
                </button>
                <div class="dropdown-menu" aria-labelledby="status_dropdown">
                    <button class="dropdown-item bg-warning" type="submit" name="action"
                            value="status_pending"> Pending
                    </button>
                    <button class="dropdown-item bg-primary" type="submit" name="action"
                            value="status_reviewed"> Reviewed
                    </button>
                    <button class="dropdown-item bg-success" type="submit" name="action"
                            value="status_confirmed"> Confirmed
                    </button>
                    <button class="dropdown-item bg-danger" type="submit" name="action"
                            value="status_false_positive">False Positive
                    </button>
                    <button class="dropdown-item bg-secondary" type="submit" name="action"
                            value="status_other">Other
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% include "assessments/panel/findings_table.html" %}
{% endblock %}