{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form, render_score_label %}
{% block content %}
    {% if findings %}
        <form action="{{ url_for('.bulk_action_finding', assessment_id=assessment.id) }}" method="post">
            {{ form.csrf_token }}
            <div class="row col-lg-12">
                <div class="btn-group pull-right" role="group">
                    <button type="submit" class="btn btn-danger need-confirm" value="delete" name="action">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <div class="dropdown btn-group">
                        <button class="btn btn-info dropdown-toggle" type="button" id="status_dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Set Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-buttons" aria-labelledby="status_dropdown"
                            style="padding: 0px; margin: 0px;">
                            <li>
                                <button class="btn btn-warning btn-block" type="submit" name="action"
                                        value="status_pending"> Pending
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-block" type="submit" name="action"
                                        value="status_reviewed"> Reviewed
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-success btn-block" type="submit" name="action"
                                        value="status_confirmed"> Confirmed
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-danger btn-block" type="submit" name="action"
                                        value="status_false_positive">False Positive
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-default btn-block" type="submit" name="action"
                                        value="status_other">Other
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12">
                <table id="table_data" class="table table-striped table-hover">
                    <thead>
                    <th>
                        <label class="custom_checkbox">
                            <input type="checkbox" id="all_checked" name="finding:all">
                            <span class="checkmark"></span>
                        </label>
                    </th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Technical Risk</th>
                    <th>Business Risk</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr>
                            <td>
                                <label class="custom_checkbox">
                                    <input name="finding:{{ finding.id }}" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>{{ finding.title }}</td>
                            <td>{{ finding.type }}</td>
                            <td>{{ render_score_label(finding.tech_risk) }}</td>
                            <td>{{ render_score_label(finding.business_risk) }}</td>
                            <td>{{ finding.status }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-danger need-confirm"
                                       href="{{ url_for('.delete_findings', assessment_id=assessment.id, finding_id=finding.id) }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>

                                    <a class="btn btn-default"
                                       href="{{ url_for('.edit_findings', assessment_id=assessment.id, finding_id=finding.id) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {% else %}
        <div class="row col-lg-12">
            <h4 class="text-center">No findings in this assessment</h4>
            <h5 class="text-center"><a href="{{ url_for('.add_findings', assessment_id=assessment.id) }}">You can add some findings here!</a></h5>
        </div>
    {% endif %}
{% endblock %}