{% extends "base.html" %}

{% block left_actions %}
    <div class="btn-group-vertical text-center squared">
        <a href="{{ url_for('.summary', assessment_id=assessment.id) }}"
           class="btn btn-lg {% if endpoint=='summary' %}btn-info{% else %}btn-dark{% endif %}">
            <span class="fa fa-tachometer-alt"></span>
        </a>

        <a href="{{ url_for('.findings', assessment_id=assessment.id) }}"
           class="btn btn-lg {% if endpoint=='findings' %} btn-warning{% else %}btn-dark{% endif %}">
            <span class="fa fa-fire"></span>
        </a>

        <a href="{{ url_for('.add_findings', assessment_id=assessment.id) }}"
           class="btn btn-lg {% if endpoint=='add_findings' %}btn-success{% else %}btn-dark{% endif %}">
            <span class="fa fa-plus"></span>
        </a>
        <a href="{{ url_for('.actives', assessment_id=assessment.id) }}"
           class="btn btn-lg {% if endpoint=='actives' %}btn-primary{% else %}btn-dark{% endif %}">
            <span class="fa fa-server"></span>
        </a>
        <a href="{{ url_for('.evidences', assessment_id=assessment.id) }}"
           class="btn btn-lg {% if endpoint=='evidences' %}btn-purple{% else %}btn-dark{% endif %}">
            <span class="fa fa-images"></span>
        </a>

        <a href="{{ url_for('.reports', assessment_id=assessment.id) }}"
           class="btn btn-lg {% if endpoint=='reports' %}btn-secondary{% else %}btn-dark{% endif %}">
            <span class="fa fa-file-alt"></span>
        </a>
    </div>
{% endblock %}
{% block body %}
    <div class="row pl-2 mt-2">
        <div class="col">
            <h2>{{ assessment.name }}
            </h2>
        </div>
        <div class="col-sm-3 mr-3">
            {% block action_buttons %}{% endblock %}
        </div>
    </div>
    {% block content %}
    {% endblock %}


    <div class="modal fade" tabindex="-1" role="dialog" id="image_selector_modal">
        <div class="modal-dialog modal-xxl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Image Selector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        {% if assessment.images %}
                            <div class="row">
                                {% for image in assessment.images %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 py-3">
                                        <a target="_blank"
                                           href="{{ url_for('.get_evidence', assessment_id=assessment.id, evidence_name=image.name) }}">
                                            <strong>{{ image.name }}</strong>
                                        </a>

                                        <img style="width: 100%"
                                             src="{{ url_for('.get_evidence', assessment_id=assessment.id, evidence_name=image.name) }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            var image_selector_modal = $('#image_selector_modal');
            var image_select = $('#image_selector_modal img');

            $("textarea#affected_resources").markdown({
                autofocus: false,
                savable: false,
                fullscreen: false,
                iconlibrary: 'fa',
                hiddenButtons: ['cmdImage', 'cmdQuote', 'cmdHeading', 'cmdPreview', 'cmdQuote',
                    'cmdListO', 'cmdList', 'cmdUrl', 'cmdHeading', 'cmdItalic', 'cmdBold', 'cmdCode'],
                additionalButtons: [
                    [{
                        name: "HttpUrl",
                        data: [{
                            name: "cmdCustomUrl",
                            title: "Url",
                            icon: {
                                fa: 'fa fa-link',
                            },
                            callback: function (e) {

                                let url = 'http://example.com:8080/path?query=param';
                                let selected = e.getSelection();
                                let cursor = selected.start;

                                image_selector_modal.modal('hide');

                                e.replaceSelection(url);
                                e.setSelection(cursor, cursor + url.length);
                            }
                        },{
                            name: "cmdHost",
                            title: "Host",
                            icon: {
                                fa: 'fa fa-server',
                            },
                            callback: function (e) {

                                let urn = 'urn:host:';
                                let path = 'example.com:8080';
                                let selected = e.getSelection();
                                let cursor = selected.start + urn.length;

                                image_selector_modal.modal('hide');

                                e.replaceSelection(urn+path);
                                e.setSelection(cursor, cursor + path.length);
                            }
                        }]
                    }, {
                        name: "MobileApps",
                        data: [{
                            name: "cmdAndroidApp",
                            title: "Android App",
                            icon: {
                                fa: 'fab fa-android',
                            },
                            callback: function (e) {

                                let prev = 'urn:android:';
                                let path = 'com.package.id';
                                let selected = e.getSelection();
                                let cursor = selected.start + prev.length;

                                image_selector_modal.modal('hide');
                                e.replaceSelection(prev + path);
                                e.setSelection(cursor, cursor + path.length);
                            }
                        }, {
                            name: "cmdiOSApp",
                            title: "iOS App",
                            icon: {
                                fa: 'fab fa-apple',
                            },
                            callback: function (e) {

                                let prev = 'urn:ios:';
                                let path = 'com.package.id';
                                let selected = e.getSelection();
                                let cursor = selected.start + prev.length;

                                image_selector_modal.modal('hide');
                                e.replaceSelection(prev + path);
                                e.setSelection(cursor, cursor + path.length);
                            }
                        }]
                    }]
                ]
            });

            $("textarea").not(".noMD").markdown({
                autofocus: false,
                savable: false,
                iconlibrary: 'fa',
                hiddenButtons: ['cmdImage', 'cmdQuote', 'cmdHeading'],
                additionalButtons: [
                    [{
                        name: "groupCustom",
                        data: [{
                            name: "cmdCustomImage",
                            toggle: true, // this param only take effect if you load bootstrap.js
                            title: "Images",
                            icon: {
                                glyph: 'glyphicon glyphicon-picture',
                                fa: 'fa fa-image',
                            },
                            callback: function (e) {
                                image_selector_modal.modal('show');
                                image_select.unbind('click');
                                image_select.click(function (ev) {
                                    ev.preventDefault();
                                    let img = $(this);
                                    let src = img.attr('src');

                                    let selected = e.getSelection();

                                    let img_caption = 'Image Caption';
                                    let cursor = selected.start + 2;

                                    image_selector_modal.modal('hide');

                                    e.$textarea.focus()
                                    e.replaceSelection('![' + img_caption + '](' + src + ')');
                                    e.setSelection(cursor, cursor + img_caption.length);

                                })
                            }
                        }]
                    }]
                ]
            });
        });
    </script>
{% endblock %}