{% extends "assessments/panel/panel_base.html" %}

{% from "macros.html" import render_form %}


{% set actions_show = False %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="text-center text-uppercase text-info">
                        <span class="badge badge-info">
                            {{ assessment.findings|length }}
                        </span>
                    </h5>
                    <h5 class="text-center text-uppercase text-info">Findings
                    </h5>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Application:</b> {{ assessment.application }}</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>Audited by: </b>{{ assessment.auditors_list() }}</p>
                        </div>
                        {% if assessment.bugtracking %}
                            <div class="col-md-4">
                                <p><b>Ticket:</b> {{ assessment.bugtracking }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Risk Profile:</b> {{ assessment.riskprof_category }} ({{ assessment.riskprof_score }})</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>SAST:</b> {{ assessment.sast }}</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>SCA:</b> {{ assessment.sca }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-title">Findings status</h5>
                    <canvas id="findings_status_chart"></canvas>
                </div>
                <div class="col-md-6">
                    <h5 class="card-title">CVSS severity</h5>
                    <canvas id="cvss_severity_chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    {% if assessment.findings|length > 0 %}



        <script>
            var ctx_cvss_severity = document.getElementById('cvss_severity_chart').getContext('2d');
            var ctx_find = document.getElementById('findings_status_chart').getContext('2d');
            var backgrounds = [
                '#5bc0de',
                '#5cb85c',
                '#f0ad4e',
                '#d9534f',
                '#222'
            ];
            var options = {
                legend: {display: false},
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 1
                        }
                    }]
                }
            };

            new Chart(ctx_cvss_severity, {
                type: 'bar',
                data: {
                    labels: ["Info", "Low", "Medium", "High", "Critical"],
                    datasets: [{
                        backgroundColor: backgrounds,
                        data: {{ assessment.aggregate_cvss_severity() | tojson }}
                    }]
                },
                options: options
            });

            new Chart(ctx_find, {
                type: 'pie',
                data: {
                    labels: ["Pending", "Reviewed", "Confirmed", "False Positive", "Other"],
                    datasets: [{
                        backgroundColor: [
                            '#f0ad4e',
                            '#5bc0de',
                            '#5cb85c',
                            '#d9534f',
                            '#222'
                        ],
                        data: {{ assessment.aggregate_finding_status() | tojson }}
                    }]
                }
            });
        </script>
    {% endif %}
    {% include "assessments/panel/findings_table.html" %}
{% endblock %}