{% extends "base.html" %}

{% from "macros.html" import render_field %}
{% block body %}

    <div class="row mt-3 pl-3">

        <div class="col-lg-4">
            <h2>User {{ current_user.username }}
                {% if not current_user.otp_enabled %}
                    <span class="badge badge-pill badge-danger">OTP Disabled</span>
                {% else %}
                    <span class="badge badge-pill badge-success">OTP Enabled</span>
                {% endif %}
            </h2>
            <div class="ml-3">
                {% if not current_user.otp_enabled %}
                    <h3 class="mt-5">Enable OTP</h3>
                    <div id="qrcode" class="mt-4 mb-4 row justify-content-center"></div>
                    <script>
                        $(document).ready(function () {
                            $('#qrcode').qrcode({
                                width: 400,
                                height: 400,
                                text: "{{ current_user.generate_otp() }}"
                            });
                        })
                    </script>
                    <form action="{{ url_for('users.enable_otp') }}" method="POST" class="mt-3">
                        <div class="form-row">
                            {{ form.csrf_token }}
                            <div class="col">
                                {{ render_field(form.otp, with_label=False, maxlength="6", pattern="[0-9]{6}") }}
                            </div>
                            <div class="col-5">
                                <button type="submit" class="btn btn-success btn-block ml-2">Enable OTP</button>
                            </div>
                        </div>
                    </form>
                {% else %}

                    <h3 class="mt-5">Disable OTP</h3>
                    <h5>Insert your current OTP to disable it.</h5>
                    <form action="{{ url_for('users.disable_otp') }}" method="POST" class="form-inline mt-3">
                        {{ form.csrf_token }}
                        {{ render_field(form.otp, with_label=False, maxlength="6", pattern="[0-9]{6}") }}
                        <button type="submit" class="btn btn-danger ml-2">Disable OTP</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}