{% extends "clients/base.html" %}

{% from "macros.html" import render_form, render_field %}
{% block body %}

    <div class="row mt-3 pl-3">
        <div class="col-lg">
            <div class="row">
                <div class="col-10">
                    <h2>Assessments</h2>
                </div>
                <div class="col-2">
                    <a href="{{ url_for('.add_assessment', client_id=client.id, next=request.path) }}"
                       class="btn btn-primary btn-success float-right">
                        <span class="fa fa-plus"></span> Add
                    </a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    {% if client.assessments %}
                        <table id="table_data" class="table table-striped">
                            <thead class="thead-dark">
                            <th>Name</th>
                            <th>Platform</th>
                            <th>Type</th>
                            <th style="width: 20%" class="text-right">Actions</th>
                            </thead>
                            <tbody>
                            {% for assessment in client.assessments %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('assessments.summary', assessment_id=assessment.id, next=request.path) }}">
                                            {{ assessment.name }}
                                        </a>
                                    </td>
                                    <td>{{ assessment.platform }}</td>
                                    <td>{{ assessment.type }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="need-confirm btn btn-danger"
                                               href="{{ url_for('assessments.delete', assessment_id=assessment.id, next=request.path) }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                            <a class="btn btn-secondary"
                                               href="{{ url_for('assessments.edit', assessment_id=assessment.id, next=request.path) }}">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="text-center">No assessment!</h4>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-10">
                    <h2>Templates</h2>
                </div>
                <div class="col-2">
                    <a href="{{ url_for('.add_template', client_id=client.id, next=request.path) }}"
                       class="btn btn-primary btn-success float-right">
                        <span class="fa fa-plus"></span> Add
                    </a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    {% if client.templates %}
                        <table id="table_data" class="table table-striped">
                            <thead class="thead-dark">
                            <th>Name</th>
                            <th>Description</th>
                            <th style="width: 20%" class="text-right">Actions</th>
                            </thead>
                            <tbody>
                            {% for template in client.templates %}
                                <tr>
                                    <td>
                                        {{ template.name }}
                                    </td>
                                    <td>{{ template.description }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="need-confirm btn btn-danger"
                                               href="{{ url_for('.delete_template', client_id=client.id, template_name=template.name, next=request.path) }}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                            <a class="btn btn-info"
                                               href="{{ url_for('.download_template', client_id=client.id, template_name=template.name, next=request.path) }}">
                                                <span class="fa fa-download"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4 class="text-center">No templates!</h4>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg pl-lg-5 pr-lg-5">
            <h2>Edit client</h2>
            {{ render_form(form) }}
        </div>
        {% if current_user.owns(client) %}
            <div class="col-lg pl-lg-5 pr-lg-5 mr-2 border-danger border rounded">
                <h2 class="text-danger">Danger Zone</h2>

                <form method="post" action="{{ url_for('.change_owner', client_id=client.id, next=request.path) }}">
                    <div class="form-group">
                        {{ render_field(change_owner_form.csrf_token) }}
                        {{ render_field(change_owner_form.owner) }}
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Change Owner</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}