{% extends "clients/base.html" %}
{% block body %}
    <div class="row mt-3">
        <div class="col-lg-12">
            {% if clients %}
                <table id="table_search" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Search</th>
                        <th colspan="6">
                            <input style="width:100%" type="text" id="searchinput" onkeyup="refresh_search()"
                                   placeholder="Search for...">
                        </th>
                    </tr>
                    </thead>
                </table>

                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Managers</th>
                    <th>Auditors</th>
                    <th style="width: 20%" class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for client in clients | sort(attribute='long_name') %}
                        <tr>
                            <td>

                                {% if current_user.is_admin %}
                                    <a title="Edit Client"
                                       href="{{ url_for('.edit', client_id=client.id, next=request.path) }}">
                                        {{ client.long_name }}
                                    </a>
                                {% else %}
                                    {{ client.long_name }}
                                {% endif %}
                            </td>
                            <td>
                                {% for manager in client.managers %}
                                    <p>{{ manager.username }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for auditor in client.auditors %}
                                    <p>{{ auditor.username }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="btn-group float-right">
                                    {% if current_user.is_admin %}
                                        <a class="need-confirm btn btn-danger" title="Delete Client"
                                           href="{{ url_for('.delete', client_id=client.id, next=request.path) }}">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                        <a class="btn btn-secondary" title="Edit Client"
                                           href="{{ url_for('.edit', client_id=client.id, next=request.path) }}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-success" title="Add Assessment"
                                       href="{{ url_for('.add_assessment', client_id=client.id, next=request.path) }}">
                                        <span class="fa fa-plus"></span>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No clients!</h4>
            {% endif %}
        </div>
    </div>

    <script>
        function refresh_search() {
            function parse_tds(tds) {
                return {
                    long_name: tds[0].firstElementChild.innerText
                };
            }

            function search(tds, re) {
                return re.test(tds.long_name);
            }

            let trs = document.getElementById("table_data").getElementsByTagName("tr");

            if (trs.length > 2) {
                let input = new RegExp(document.getElementById("searchinput").value, 'i');

                for (let i = 1; i < trs.length; i++) {
                    trs[i].style.display = search(parse_tds(trs[i].getElementsByTagName("td")), input) ? "" : "none";
                }
            }
        }
    </script>
{% endblock %}