{% extends "clients/base.html" %}
{% block body %}
    <div class="row mt-3">
        <div class="col-lg-12">
            {% if clients %}
                <table id="table_data" class="table table-striped">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th style="width: 20%" class="text-right">Actions</th>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>
                                <a title="Edit Client"
                                       href="{{ url_for('.edit', client_id=client.id) }}">
                                {{ client.long_name }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group float-right">
                                    <a class="need-confirm btn btn-danger" title="Delete Client"
                                       href="{{ url_for('.delete', client_id=client.id) }}">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                    <a class="btn btn-secondary" title="Edit Client"
                                       href="{{ url_for('.edit', client_id=client.id) }}">
                                        <span class="fa fa-pencil-alt"></span>
                                    </a>
                                    <a class="btn btn-success" title="Add Assessment"
                                       href="{{ url_for('.add_assessment', client_id=client.id) }}">
                                        <span class="fa fa-plus"></span>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center">No clients!</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}